GEMINI_API_KEY="MY_GEMINI_API_KEY"
OPENAI_API_KEY="MY_OPENAI_API_KEY"
DEEPSEEK_API_KEY="MY_DEEPSEEK_API_KEY"
AI_PROVIDER_DEFAULT="openai" # 可选值: openai, gemini, deepseek
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
APP_URL="MY_APP_URL"
